.wd-pos-fixed-left {
    position: fixed;
    left: 0px;
    bottom:50%
}

.bi {
    font-size: 1.5em;
}

.small {
    font-size: .7em;
}


.wd-assignment,
.wd-assignment * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-assignment {
  margin: 5px;
}

.wd-assignment > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-assignment > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-assignment > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-assignment > li {
  margin-bottom: 20px;
}


.assign {
    height: 70px;
    margin-left: 10px;
}

.green {
    color: green
}

.small {
    line-height: .95;
    font-size: small;
}

.smallest {
  line-height: .95;
  font-size: 0.5em;
}

.custom-col-1 {
  padding-right: 15px; /* You can adjust the value as needed */ 
}

.inline {
  display: inline-block;
}

.light-gray {
  background-color: gainsboro;
}