.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
  }
  .wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }


  .smallest {
    line-height: .95;
    font-size: 0.5em;
  }