.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100%;
    position: static;
    top: 0px;
    margin-right:0px;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 8px;
    font-size: 0.8em;  text-align: center;
  }
  
  
  .wd-kanbas-navigation li:first-child a {
    font-size: 3em;  text-align: center;
    color: red; margin-bottom:0px;
  }
  
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 3px;
  }
  
  .wd-kanbas-navigation li:nth-child(2) a i {
    color: grey
  }
  
  
  .wd-kanbas-navigation-home {
    color:red ;
  }
  
  
  .fs-2 {
    color: red;
  }